<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>Laravel BS4 Angular7</h1>
      <form role="form" [formGroup]="loginForm">
        <div class="form-content">
          <div class="form-group">
            <input type="text" [(ngModel)]="model.email" class="form-control input-underline input-lg" placeholder="{{ 'Email' | translate }}" [formControl]="loginForm.controls['email']">
            <small class="text-danger" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="text-danger">
              You must include an email address.
            </small>
            <small class="text-danger" *ngIf="(loginForm.controls['email'].hasError('email') || loginForm.controls['email'].errors) && !(loginForm.controls['email'].hasError('required')) && loginForm.controls['email'].touched" class="text-danger">
              You must include a valid email address.
            </small>
            <small class="text-danger" *ngIf="(loginForm.controls['email'].hasError('maxLength') || loginForm.controls['email'].errors) && !(loginForm.controls['email'].hasError('required')) && !(loginForm.controls['email'].hasError('email'))&& loginForm.controls['email'].touched" class="text-danger">
              Your email address can not exceed 191 characters.
            </small>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="model.password" class="form-control input-underline input-lg" placeholder="{{ 'Password' | translate }}" [formControl]="loginForm.controls['password']" (keydown)="eventHandlerForPassword($event)">
            <small class="text-danger" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="text-danger">
              You must include password.
            </small>
            <small class="text-danger" *ngIf="(loginForm.controls['password'].hasError('minLength') || loginForm.controls['password'].errors) && !(loginForm.controls['password'].hasError('required') && loginForm.controls['password'].hasError('maxLength')) && loginForm.controls['password'].touched" class="text-danger">
              Your  password must be greater than 7 characters long.
            </small>
            <small class="text-danger" *ngIf="(loginForm.controls['password'].hasError('maxLength')) && !(loginForm.controls['password'].hasError('required') && loginForm.controls['password'].hasError('minLength')) && loginForm.controls['password'].touched" class="text-danger">
              Your password can not exceed 30 characters.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-right">
            <button class="btn rounded-btn" [disabled]="!loginForm.valid" (click)="onLoggedin()">{{ 'Log in' | translate }}</button>
          </div>
          <div class="col-md-6 text-left">
            <button class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
